.icon {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -1px;
}

span.iconlarge:before {
    font-size: large;
}

span.iconxlarge:before {
    font-size: x-large;
}
