#IdentifyViewer {
    background-color: @container_bg@;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#IdentifyViewer div.identify-results-container {
    overflow-y: auto;
    flex: 1 1 50%;
}

#IdentifyViewer ul {
    list-style-type: none;
    padding: 0 0 0.25em 1em;
    font-size: small;
}

#IdentifyViewer div.identify-layer-result span.clickable,
#IdentifyViewer li.identify-feature-result span.clickable {
    cursor: pointer;
}

#IdentifyViewer li.identify-feature-result span.active {
    font-weight: bold;
}

#IdentifyViewer span.identify-remove-result,
#IdentifyViewer span.identify-export-result {
    margin: 0 0.25em;
    color: @item_border@;
    cursor: pointer;
    visibility: hidden;
    float: right;
    font-size: large;
}

#IdentifyViewer li.identify-feature-result:hover span.identify-remove-result,
#IdentifyViewer div.identify-layer-result:hover span.identify-remove-result,
#IdentifyViewer li.identify-feature-result span.active+span.identify-remove-result,
#IdentifyViewer div.identify-layer-result:hover span.identify-remove-result,
#IdentifyViewer li.identify-feature-result:hover span.identify-export-result,
#IdentifyViewer div.identify-layer-result:hover span.identify-export-result,
#IdentifyViewer li.identify-feature-result span.active+span.identify-export-result,
#IdentifyViewer div.identify-layer-result:hover span.identify-export-result {
    visibility: visible;
}

#IdentifyViewer li.expandable {
    position: relative;
}

#IdentifyViewer li.expandable > span {
    cursor: pointer;
}

#IdentifyViewer li.expandable > ul {
    display: none;
}

#IdentifyViewer li.expandable.expanded > ul {
    display: block;
}

#IdentifyViewer li.expandable:before {
    content: "";
    border-color: transparent @base_fg@;
    border-width: 0.35em 0 0.35em 0.45em;
    border-style: solid;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.3em;
    position: absolute;
}

#IdentifyViewer li.expandable.expanded:before {
    border-color: @base_fg@ transparent;
    border-width: 0.45em 0.35em 0 0.35em;
    top: 0.4em;
}

#IdentifyViewer .identify-result-title {
    margin-top: 0.5em;
    background-color: @item_border@;
    padding: 0.25em;
    font-weight: bold;
    flex: 0 0 auto;
    font-size: small;
}

#IdentifyViewer .identify-result-box {
    border: 1px solid @item_border@;
    border-radius: 0;
    background-color: white;
    font-size: small;
    overflow: auto;
    flex: 1 1 45%;
    padding: 0.25em;
}

#IdentifyViewer table.attribute-list {
    width: 100%;
}

#IdentifyViewer table.attribute-list tr:nth-child(even) {
    background-color: #F0F0F0;
}

#IdentifyViewer td.wrap {
    word-wrap: break-word;
}

#IdentifyViewer td.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}

#IdentifyViewer td.identify-attr-title {
    overflow: hidden;
    vertical-align: top;
    width: 10ch;
    padding-right: 1em;
}

#IdentifyViewer td.identify-attr-value {
    max-width: 0;
    overflow: hidden;
    vertical-align: top;
}

#IdentifyViewer div.identify-buttonbox {
    margin-top: 0.5em;
    text-align: right;
    flex: 0 0 auto;
}
