#IdentifyViewer {
    padding: 0.5em;
}

#IdentifyViewer div.identify-results-container {
    max-height: 15em;
    overflow-y: auto;
}

#IdentifyViewer ul {
    list-style-type: none;
    padding: 0.25em 0 0.25em 1em;
    font-size: small;
}

#IdentifyViewer li.identify-feature-result span.clickable {
    cursor: pointer;
}

#IdentifyViewer li.identify-feature-result span.active {
    font-weight: bold;
    color: #595959;
}

#IdentifyViewer span.identify-remove-result {
    margin-left: 0.5em;
    color: #878787;
    cursor: pointer;
    visibility: hidden;
}

#IdentifyViewer li.identify-feature-result:hover span.identify-remove-result {
    visibility: visible;
}

#IdentifyViewer li.expandable {
    position: relative;
}

#IdentifyViewer li.expandable > span {
    cursor: pointer;
}

#IdentifyViewer li.expandable > ul {
    display: none;
}

#IdentifyViewer li.expandable.expanded > ul {
    display: block;
}

#IdentifyViewer li.expandable:before {
    content: "";
    border-color: transparent #111;
    border-width: 0.35em 0 0.35em 0.45em;
    border-style: solid;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.3em;
    position: absolute;
}

#IdentifyViewer li.expandable.expanded:before {
    border-color: #111 transparent;
    border-width: 0.45em 0.35em 0 0.35em;
    top: 0.4em;
}

#IdentifyViewer div.attribute-list-box {
    margin-top: 0.5em;
    border: 1px solid #9c9b9c;
    background-color: #f2f2f2;
    border-radius: 0.25em;
    font-size: small;
    padding: 0.25em;
    max-height: 10em;
    overflow-y: auto;
}

#IdentifyViewer table.attribute-list {
    table-layout: fixed;
    width: 100%;
}

#IdentifyViewer td.identify-attr-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 15ch;
}

#IdentifyViewer td.identify-attr-value {
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
