#Search {
    flex: 1 1 auto;
    display: inline-flex;
    position: relative;
    align-items: center;
    vertical-align: middle;
    max-width: 70ch;
}

#Search div.searchbar-wrapper {
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
    height: 2.5em;
}

#Search div.searchbar-container {
    width: 100%;
    display: inline-flex;
}

#Search input.searchbar {
    flex: 1 1 auto;
    height: 2.5em;
    padding: 0.25em 0.75em;
    border: 1px solid @item_border@;
    color: @item_fg@;
    width: 0;
    min-width: 10ch;
}

#Search span.searchbar-addon {
    flex: 0 0 auto;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    padding: 0.25em 0.25em;
    line-height: 2em;
    color: @item_fg@;
    background-color: #eee;
    border-top: 1px solid @item_border@;
    border-right: 1px solid @item_border@;
    border-bottom: 1px solid @item_border@;
    position: relative;
}

#Search span.searchbar-addon-active {
    background-color: white;
}

#Search ul.searchbar-provider-selection {
    position: absolute;
    top: 100%;
    right: -1px;
    background-color: #eee;
    border: 1px solid @item_border@;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#Search ul.searchbar-provider-selection li {
    padding: 0.125em 0.5em;
}

#Search ul.searchbar-provider-selection li:hover {
    background-color: @appmenu_active_bg1@;

}

#Search div.spinner {
    width: 2em;
    height: 2em;
}

#Search select.provider-selection {
    border-top: 1px solid @item_border@;
    border-right: 1px solid @item_border@;
    border-bottom: 1px solid @item_border@;
    border-left: 0;
    background-color: #eee;
    vertical-align: bottom;
    height: 2.5em;
    flex: 0 0 auto;
}

#Search div.search-form {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 8;
    background-color: #eee;
    border: 1px solid #ccc;
}

#Search div.search-form > table {
    width: 100%;
    border-collapse: collapse;
}

#Search div.search-form > table td {
    padding: 0.125em 0.25em;
}

#Search div.search-form > table input {
    width: 100%;
    min-width: 0;
    max-width: none;
}

#Search div.search-form div.search-form-buttons {
    text-align: right;
    padding: 0.5em 0.25em;
}

#Search div.search-form div.search-form-buttons > button {
    padding: 0.25em;
    margin-left: 0.25em;
}

#Search ul.search-results {
    top: 100%;
    position: absolute;
    background-color: rgba(255,255, 255, 0.85);
    max-height: 40em;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
    font-size: small;
}

#Search ul.search-results ul {
    list-style-type: none;
    padding: 0;
}

#Search ul.search-results ul li {
    padding: 0.25em 0.25em 0.25em 1em;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#Search ul.search-results ul li:hover {
    background-color: #cccccc;
}

#Search ul.search-results .search-results-category-title {
    background-color: @dialog_bg@;
    color: @dialog_fg@;
    font-weight: bold;
    display: block;
    padding: 0.5em;
}
