div.sidebar {
    position: absolute;
    top: 4.5em;
    bottom: 3.25em; /* bottombar is high 3em at 75% font size, hence at 100% font size it is 0.75 * 3em = 2.25em */
    background-color: #f2f2f2;
    transition: right 0.25s;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

div.sidebar div.sidebar-titlebar {
    color: white;
    background-color: #595959;
    padding: 0.25em;
    height: 2.5em;
    line-height: 2em;
}

div.sidebar div.sidebar-titlebar span.glyphicon {
    float: right;
    cursor: pointer;
    padding: 0.25em;
}

div.sidebar div.sidebar-titlebar span.sidebar-title {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

div.sidebar div.sidebar-titlebar span.sidebar-title > img {
    padding-right: 0.5em;
    vertical-align: top;
}

div.sidebar div.sidebar-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 2.5em);
}
