div.sidebar {
    position: absolute;
    top: 3.5em;
    bottom: 2.25em; /* bottombar is high 3em at 75% font size, hence at 100% font size it is 0.75 * 3em = 2.25em */
    z-index: 4;
    background-color: rgba(255,255, 255, 0.85);
    box-shadow: -2px 0mm 4px rgba(136, 136, 136, 0.5);
    border: 1px solid rgba(136, 136, 136, 0.5);
    transition: right 0.25s;
}

div.sidebar div.sidebar-titlebar {
    color: white;
    background-color: #595959;
    padding: 0.25em;
    height: 2.5em;
    line-height: 2em;
}

div.sidebar div.sidebar-titlebar span.glyphicon {
    float: right;
    cursor: pointer;
    padding: 0.25em;
}

div.sidebar div.sidebar-titlebar span.sidebar-title {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

div.sidebar div.sidebar-titlebar span.sidebar-title > img {
    padding-right: 0.5em;
    vertical-align: top;
}

div.sidebar div.sidebar-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 2.5em);
}
