#TaskBar {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
    z-index: 3;
}

#TaskBar div.taskbar {
    display: inline-block;
    position: relative;
    max-width: 80%;
    pointer-events: all;
    padding: 0 2.5em 0 0.5em;
    background-color: @container_bg@;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

#TaskBar div.body {
    padding: 0.25em;
    display: inline-block;
}

#TaskBar span.closewrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    float: none;
    padding: 0.125em 0.125em 0 0;
}

#TaskBar span.close {
    float: none;
}
