div.accordeon-section {
    margin: 0.25em 0;
}

div.accordeon-section-header {
    display: flex;
    padding: 0.5em;
    background-color: var(--titlebar-bg-color);
    color: var(--titlebar-text-color);
    font-weight: bold;
}

div.accordeon-section-header > span:first-child {
    flex: 1 1 auto;
}

div.accordeon-section-body {
    padding: 0.25em;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0 1px 1px 1px;
}
