div.FileSelector {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    overflow-x: hidden;
}

div.FileSelector > input[type=text] {
    flex: 1 1 auto;
    height: 2em;
    border: 1px solid var(--border-color);
    padding: 0 0.25em;
    cursor: pointer;
    margin-right: -1px;;
}

div.FileSelector > button {
    width: 2em;
    flex: 0 0 2em;
}

div.FileSelector > input[type=file] {
    display: none;
}
