div.navbar {
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
}

div.navbar > select {
    margin-left: 0.25em;
}
div.navbar > button.button:not(:first-child) {
    margin-left: -1px;
}

div.navbar > span.navbar-dots {
    padding: 0 0.25em;
}

div.navbar > span.navbar-dots + button.button {
    border-left-width: 1px;
}
