div.popup-menu {
    background-color: var(--list-bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
}

div.popup-menu:focus {
    outline: none;
}

div.popup-menu-item-disabled {
    color: var(--text-color-disabled);
}

div.popup-menu > *:focus {
    background-color: var(--list-item-bg-color-hover);
    color: var(--list-item-text-color-hover);
    outline: none;
}
