div.search-widget-container {
    position: relative;
    width: 100%;
}

div.search-widget-container > div.input-container {
    width: 100%;
}
div.search-widget-container > div.input-container > div.spinner {
    width: 2em;
    height: 2em;
}


div.search-widget-results-group-title {
    background-color: var(--list-section-bg-color);
    color: var(--list-section-text-color);
    font-weight: bold;
    padding: 0.25em;
}

div.search-widget-results-item {
    padding: 0.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
