
#qwc2-navbar-container {
  background-color: rgba(255,255, 255, 0.75);
  box-shadow: 0px 5px 10px rgba(136, 136, 136, 0.5);
}

#qwc2-navbar-container .MapSearchBar {
  left: 200px;
  top: 5px;
}

.search-result-list {
  position: absolute!important;
  left: 201px!important;
  top: 39px!important;
  border: 1px solid #cccccc!important;
  border-radius: 3px!important;
}

.search-result-list .search-result {
  border-radius: 0!important;
}
