div.share-link-frame {
    display: flex;
}

div.share-link-frame > input {
    flex: 1 1 auto;
    border-top: 1px solid var(--button-border-color);
    border-bottom: 1px solid var(--button-border-color);
    border-left: 1px solid var(--button-border-color);
    border-right: 0;
}

span.share-link-button {
    flex: 0 0 auto;
    height: 2.5em;
    width: 2.5em;
}
