#AppMenu {
    text-align: right;
    cursor: default;
    transition: background-color 0.25s;
    outline: none;
    overflow: hidden;
}

#AppMenu.appmenu-visible {
    background-color: @appmenu_active_bg2@;
    overflow: visible;
}

#AppMenu.appmenu-blocked {
    cursor: not-allowed;
}

#AppMenu ul.appmenu-menu {
    transform-origin: top;
    transform: scaleY(0);
    text-align: left;
    position: absolute;
    right: 0;
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
    padding: 0;
    transition: transform 0.1s;
    background-color: @appmenu_bg1@;
    width: 20em;
    max-width: 100vw;
}

#AppMenu.appmenu-visible ul.appmenu-menu {
    transform: scaleY(1);
}

#AppMenu ul.appmenu-menu li {
    color: @appmenu_fg1@;
    list-style-type: none;
    margin: 0;
    font-size: small;
    font-weight: bold;
}

#AppMenu ul.appmenu-menu li:not(:last-child) {
    border-bottom: 1px solid @appmenu_fg1@;
}

#AppMenu ul.appmenu-menu>li:hover,
#AppMenu ul.appmenu-menu>li.expanded {
    background-color: @appmenu_active_bg1@;
    color: @appmenu_active_fg1@;
}

#AppMenu ul.appmenu-menu li .icon {
    vertical-align: middle;
    width: 2em;
    margin: 0.5em 1em 0.5em 1em;
}

#AppMenu ul.appmenu-menu li ul {
    background-color: @appmenu_bg2@;
    padding: 0;
    display: none;
}

#AppMenu ul.appmenu-menu li ul li {
    color: @appmenu_fg2@;
}

#AppMenu ul.appmenu-menu li.expanded ul {
    display: block;
}

#AppMenu ul.appmenu-menu ul li:hover,
#AppMenu ul.appmenu-menu ul li.expanded {
    background-color: @appmenu_active_bg2@;
    color: @appmenu_active_fg2@;
}

#AppMenu ul.appmenu-menu li.appmenu-leaf {
    display: flex;
    align-items: center;
}

#AppMenu ul.appmenu-menu li.appmenu-leaf > span.icon {
    flex: 0 0 auto;
}

#AppMenu ul.appmenu-menu li.appmenu-leaf > span.appmenu-leaf-label {
    flex: 1 1 auto;
}

#AppMenu ul.appmenu-menu li.appmenu-leaf div.appmenu-leaf-comment {
    font-weight: normal;
    font-size: 90%;
}
