div.AppMenu {
    text-align: right;
    cursor: default;
    transition: background-color 0.25s;
    outline: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    flex: 0 1 20em;
}

div.AppMenu.appmenu-nolabel {
    flex: 0 0 auto;
}

div.AppMenu.appmenu-visible {
    background-color: var(--app-submenu-bg-color-hover);
    color: var(--app-submenu-text-color-hover);
    overflow: visible;
}

div.AppMenu .appmenu-button {
    display: flex;
    align-items: center;
}

div.AppMenu .appmenu-label {
    font-weight: bold;
    transition: color 0.25s;
    color: var(--app-menu-text-color);
}

div.AppMenu.appmenu-visible .appmenu-label {
    color: var(--app-submenu-text-color-hover);
}

div.AppMenu .appmenu-icon > span.icon {
    color: var(--app-menu-text-color);
    padding: 0.25em;
    margin: 0 1em;
    border: 2px solid var(--app-menu-text-color);
    transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

div.AppMenu.appmenu-visible .appmenu-icon > span.icon {
    color: var(--app-submenu-text-color-hover);
    border-color: var(--app-submenu-text-color-hover);
    background-color: inherit;
}

div.AppMenu.appmenu-blocked {
    cursor: not-allowed;
}

div.AppMenu div.appmenu-menu-container {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
    width: 20em;
    max-width: 100vw;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.25s, opacity 0.25s;
    overflow-y: auto;
    max-height: calc(var(--plugins-container-height) - var(--topbar-height) - var(--bottombar-height));
}

div.AppMenu.appmenu-compact div.appmenu-menu-container {
    right: -11.25em;
    width: 15em;
    height: calc(var(--plugins-container-height) - var(--topbar-height) - var(--bottombar-height));
    transition: transform 0.25s, opacity 0.25s, right 0.5s;
    background: var(--app-menu-bg-color);
    box-shadow: 0px 0px 4px rgba(136, 136, 136, 0.5);
    top: 3.5em;
}

div.AppMenu.appmenu-compact div.appmenu-menu-container:hover,
div.AppMenu.appmenu-compact div.appmenu-menu-container:focus-within {
    right: 0;
}

div.AppMenu div.appmenu-menu {
    background-color: var(--app-menu-bg-color);
    text-align: left;
    font-size: small;
}

div.AppMenu.appmenu-visible div.appmenu-menu-container {
    transform: scaleY(1);
    opacity: 1;
}

div.appmenu-menu-item {
    display: flex;
    align-items: center;
    color: var(--app-menu-text-color);
    font-weight: bold;
}

div.appmenu-menu-item:not(:last-child) {
    border-bottom: 1px solid var(--app-menu-text-color);
}

div.appmenu-menu-item > .icon {
    width: 2em;
    margin: 0.5em 1em 0.5em 1em;
}

div.appmenu-menu-item-label {
    margin: 0.25em 0;
}

div.appmenu-menu-item-comment {
    font-weight: normal;
    font-size: 90%;
}

div.appmenu-submenu-active,
div.appmenu-submenu-expanded {
    background-color: var(--app-menu-bg-color-hover);
    color: var(--app-menu-text-color-hover);
}

div.appmenu-menu-item-nested {
    background-color: var(--app-submenu-bg-color);
    color: var(--app-submenu-text-color);
}

div.appmenu-menu-item:focus-within {
    background-color: var(--app-menu-bg-color-hover);
    color: var(--app-menu-text-color-hover);
    outline: none;
}

div.appmenu-menu-item-nested:focus-within {
    background-color: var(--app-submenu-bg-color-hover);
    color: var(--app-submenu-text-color-hover);
}

div.appmenu-menu-item-filter {
    padding-right: 0.5em;
}

div.appmenu-menu-item-filter > div.input-container {
    flex: 1 1 auto;
}
