div.AttributeForm {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.25em;
}

.AttributeForm.has-child > :not(.link-feature-form-container),
.AttributeForm.has-child ~ .link-feature-form-close{
    display: none;
}

div.AttributeForm > form.parent-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

div.AttributeForm > form > * {
    flex: 1 1 auto;
}

div.AttributeForm > form > div.ButtonBar {
    flex: 0 0 auto;
}

div.AttributeForm div.attrib-form-geom-readonly {
    background-color: #FF6600;
    border: 1px solid #FF0000;
    color: white;
    padding: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

div.AttributeForm div.attrib-form-busy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(127, 127, 127, 0.25);
    cursor: wait;
    z-index: 2;
}
/*div.AttributeForm.has-child > .link-feature-form-container {*/
/*    flex: 1 1 auto;*/
/*    min-height: 0;*/
/*}*/

div.link-feature-form-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.link-feature-form-container > div.link-feature-form {
    flex: 1 1 auto;
}

/*div.link-feature-form-container,*/
/*div.AttributeForm.has-child > div.link-feature-form-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    overflow: hidden;*/
/*}*/

/*div.link-feature-form-container > div.link-feature-form,*/
/*div.AttributeForm.has-child > .link-feature-form-container > .link-feature-form {*/
/*    flex: 1 1 auto;*/
/*    min-height: 0;*/
/*}*/
