div.AttributeForm {
    display: flex;
    flex-direction: column;
}

div.AttributeForm > form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

div.AttributeForm > form > * {
    flex: 1 1 auto;
}

div.AttributeForm > form > div.ButtonBar {
    flex: 0 0 auto;
}

div.AttributeForm div.attrib-form-geom-readonly {
    background-color: #FF6600;
    border: 1px solid #FF0000;
    color: white;
    padding: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

div.AttributeForm div.attrib-form-busy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(127, 127, 127, 0.25);
    cursor: wait;
    z-index: 2;
}

div.AttributeForm .attrib-form-commit {
    background-color: rgb(127,255,127);
}

div.AttributeForm .attrib-form-discard {
    background-color: rgb(255,127,127);
}

div.AttributeForm .attrib-form-commit:hover {
    background-color: rgb(127,225,127);
}

div.AttributeForm .attrib-form-discard:hover {
    background-color: rgb(225,127,127);
}
