div.ctimeline {
    padding: 0 0.25em 0.25em 0.25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}

div.ctimeline-toolbar {
    display: flex;
    font-size: 75%;
    align-items: center;
    flex: 0 0 auto;
}

div.ctimeline-toolbar-timescale {
    margin: 0 0.25em;
}

div.ctimeline-toolbar-timescale > input {
    width: 5em;
    border: 1px solid var(--border-color);
}

div.ctimeline-toolbar-spacer {
    flex: 1 1 auto;
}

div.ctimeline-clip {
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

div.ctimeline-slider-container {
    position: relative;
    margin-top: 0.125em;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}

div.ctimeline-slider {
    flex: 1 1 auto;
    background-color: white;
    height: 100px;
    min-height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

div.ctimeline-slider-layertitle {
    font-weight: bold;
    font-size: 75%;
    padding: 0.25em;
    border-bottom: 1px solid var(--border-color);
}

div.ctimeline-slider-feature {
    font-size: 75%;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 24px;
    padding: 0.25em;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--border-color);
}

div.ctimeline-slider-feature:hover {
    border: 1px solid var(--color-active);
}

div.ctimeline-cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: black;
}

div.ctimeline-cursor-label {
    position: absolute;
    font-size: 75%;
    bottom: 0;
    text-align: center;
    padding: 0.25em;
    background-color: white;
    border: 1px solid var(--border-color);
    z-index: 1;
}

div.ctimeline-ticks {
    margin: 2em 0.25em 0 0.25em;
    position: relative;
    height: 10px;
}

button.ctimeline-pan-left,
button.ctimeline-pan-right {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1.5em;
    height: initial;
    z-index: 1;
}

button.ctimeline-pan-left {
    left: 0;
}

button.ctimeline-pan-right {
    right: 0;
}

div.ctimeline-ticks > span.ctimeline-ltick {
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: black;
}

div.ctimeline-ticks > span.ctimeline-ltick > span {
    position: absolute;
    width: 10em;
    text-align: center;
    white-space: pre;
    font-size: 70%;
    left: -5em;
    top: -2.5em;
}

div.ctimeline-ticks > span.ctimeline-tick {
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 50%;
    bottom: 0;
    background-color: gray;
}

div.ctimeline-ticks > div {
    flex: 1 1 auto;
    text-align: center;
    font-size: 75%;
}
