.icon {
    display: inline-block;
}

.icon:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.icon {
    vertical-align: top;
}

span.icon_large:before {
    font-size: large;
}

span.icon_xlarge:before {
    font-size: x-large;
}

.icon_clickable {
    cursor: pointer;
}
