div.PickFeatureMenu {
    border: 1px solid var(--border-color);
    background-color: var(--list-bg-color);
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
}

div.PickFeatureMenu > div {
    padding: 0.25em 0.5em;
}

div.PickFeatureMenu > div:hover {
    background-color: var(--list-item-bg-color-hover);
}
