div.qt-designer-form {
    height: 100%;
}

div.qt-designer-form input[type=text],
div.qt-designer-form input[type=number],
div.qt-designer-form input[type=date],
div.qt-designer-form input[type=datetime-local],
div.qt-designer-form select {
    border: 1px solid @item_border@;
    background-color: white;
    padding: 0.25em;
    height: 2em;
}

div.qt-designer-form input[type=range] {
    background-color: transparent;
    height: 2em;
}

div.qt-designer-form textarea {
    border: 1px solid @item_border@;
    background-color: white;
    padding: 0.25em;
}

div.qt-designer-form label > input {
    margin-right: 0.25em;
}

div.qt-designer-layout-grid {
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

div.qt-designer-layout-grid > div {
    display: flex;
    align-items: center;
}

div.qt-designer-layout-grid > div > * {
    width: 100%;
}

div.qt-designer-layout-vbox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

div.qt-designer-layout-hbox {
    display: flex;
    flex: 1 1 auto;
}

div.qt-designer-layout-hbox > div,
div.qt-designer-layout-vbox > div {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

div.qt-designer-form-line {
    border-bottom: 1px solid @item_border@;
}

div.qt-designer-form-frame {
    padding: 0.25em;
    height: 100%;
    width: 100%;
    border: 1px solid @item_border@;
}

div.qt-designer-widget-relation {
    border: 1px solid @item_border@;
}

div.qt-designer-widget-relation > div {
    display: flex;
    align-items: center;
}

div.qt-designer-widget-relation > div:not(:last-child) {
    padding: 0.125em;
    border-bottom: 1px solid @item_border@;
}

div.qt-designer-widget-relation > div > div.qt-designer-layout-grid {
    flex: 1 1 auto;
}

button.qt-designer-widget-relation-add {
    border: none;
    width: 100%;
    padding: 0.25em;
    background-color: @button_bg@;
}
div.qt-designer-form label {
    display: flex;
    align-items: center;
}

div.qt-designer-widget-relation-record-deleted {
    background-color: rgb(255,127,127);
}

div.qt-designer-widget-relation-record > span:first-child {
    display: inline-block;
    width: 1.5em;
    text-align: center;
}

div.qt-designer-widget-relation-record > span.icon-trash {
    flex: 0 0 auto;
    padding: 0.25em;
    margin-left: 1em;
}

div.qt-designer-widget-relation-record-new {
    background-color: rgb(127,255,127);
}

span.qt-designer-uploaded-file {
    border: 1px solid @item_border@;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.25em;
}

span.qt-designer-uploaded-file > a {
    flex: 1 1 auto;
}

span.qt-designer-uploaded-file > span.icon {
    flex: 0 0 auto;
}
