div.qt-designer-form {
    height: 100%;
}

div.qt-designer-form input[type=text],
div.qt-designer-form input[type=number],
div.qt-designer-form input[type=date],
div.qt-designer-form select {
    border: 1px solid @item_border@;
    background-color: white;
    padding: 0.25em;
    height: 2em;
}

div.qt-designer-form input[type=range] {
    height: 2em;
    background-color: transparent;
}

div.qt-designer-form textarea {
    border: 1px solid @item_border@;
    background-color: white;
    padding: 0.25em;
}

div.qt-designer-layout-grid {
    display: grid;
    height: 100%;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

div.qt-designer-layout-grid > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 0;
}

div.qt-designer-layout-grid > div > * {
    width: 100%;
}

div.qt-designer-layout-vbox {
    display: flex;
    flex-direction: column;
}

div.qt-designer-layout-hbox {
    display: flex;
}

div.qt-designer-layout-hbox > div,
div.qt-designer-layout-vbox > div {
    flex: 1 1 auto;
}

div.qt-designer-form label {
    display: flex;
    align-items: center;
}

div.qt-designer-form label > input {
    margin-right: 0.25em;
}

div.qt-designer-form-line {
    border-bottom: 1px solid @item_border@;
}
