div.resizeable-window-container {
    position: absolute;
    left: 0;
    top: 3.5em;
    bottom: 2.25em;
    right: 0;
    pointer-events: none;
}
div.resizeable-window {
    pointer-events: auto;
    background-color: @container_bg@;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
    z-index: 8;
}

div.dock-window,
div.maximized-window {
    position: absolute;
    top: 3.5em;
    /* topbar: 3.5em */
    background-color: @container_bg@;
    transition: transform 0.25s;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    left: 0;
    z-index: 8;
}

div.dock-window {
    max-width: 100vw;
    /* bottombar is high 3em at 75% font size, hence at 100% font size it is 0.75 * 3em = 2.25em */
    max-height: calc(100vh - 5.75em);
    max-height: calc(var(--vh, 1vh) * 100 - 5.75em);
    pointer-events: none;
}

div.maximized-window {
    right: 0;
    /* bottombar is high 3em at 75% font size, hence at 100% font size it is 0.75 * 3em = 2.25em */
    bottom: 2.25em;
}

div.dock-window:after {
    position: absolute;
    display: block;
    left: 100%;
    width: 5px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
    content: ' ';
    pointer-events: all;
}

div.dock-window > * {
    pointer-events: all;
}

div.resizeable-window-titlebar {
    color: @titlebar_fg@;
    background-color: @titlebar_bg@;
    height: 2.5em;
    display: flex;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 0.25em;
    flex: 0 0 auto;
}

span.resizeable-window-titlebar-icon {
    flex: 0 0 auto;
    margin-right: 0.25em;
}

span.resizeable-window-titlebar-title {
    font-weight: bold;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

span.resizeable-window-titlebar-control {
    flex: 0 0 auto;
    margin-left: 0.25em;
    font-size: large;
}

div.resizeable-window-body {
    margin: 0 0.25em;
    overflow: hidden;
    height: calc(100% - 2.75em);
    cursor: default;
    flex: 1 1 auto;
    position: relative;
}


div.dock-window > div.resizeable-window-body {
    margin: 0.25em;
}

div.resizeable-window-body-scrollable {
    overflow-y: auto;
}

div.resizeable-window-drag-shield {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 1;
}
