div.segment-input {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.segment-input-label {
    font-size: 85%;
    white-space: nowrap;
}

div.segment-input-controls {
    display: flex;
    align-items: center;
    column-gap: 0.4em;
}
