div.taskbar-container {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--topbar-height);
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 3;
}

div.taskbar {
    position: relative;
    flex: 0 0 auto;
    pointer-events: initial;
    display: inline-block;
    max-width: calc(100% - 0.5em);
    padding: 0 1.25em 0 0.25em;
    background-color: var(--container-bg-color);
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
    border-top: 1px solid rgba(136, 136, 136, 0.5);
}

div.taskbar > div.body {
    padding: 0.25em 0.5em 0.25em 0.25em;
    display: inline-block;
}

div.taskbar > span.closewrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.125em 0.125em 0 0;
}
