div.timeline-slider-container {
    height: 16px;
    position: relative;
    margin: 0.25em;
    border: 1px solid var(--border-color);
}

div.timeline-slider {
    background-color: #ddd;
    height: 100%;
    display: flex;
}

div.timeline-cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: black;
}

div.timeline-cursor-label {
    position: absolute;
    font-size: 75%;
    top: calc(100%);
    text-align: center;
    padding: 0.25em;
    background-color: white;
    border: 1px solid var(--border-color);
    z-index: 1;
}

div.timeline-ticks {
    display: flex;
    margin: 0.25em 0.25em 0 0.25em;
}

div.timeline-ticks > div {
    flex: 1 1 auto;
    text-align: center;
    font-size: 75%;
}

div.timeline-ticks > div:first-child {
    text-align: left;
}

div.timeline-ticks > div:last-child {
    text-align: right;
}
