#MapLight3D div.maplight3d-body {
    padding: 0.25em;
}

#MapLight3D div.maplight3d-body > table {
    width: 100%;
}

#MapLight3D div.maplight3d-body > table td > input {
    width: 100%;
}

#MapLight3D td.maplight3d-advanced {
    height: 2em;
}