div.map3d-body {
    margin: -0.25em;
    height: calc(100% + 0.5em);
    position: relative;
}

div.map3d-titlebar {
    flex: 0 0 3.25em;
    display: flex;
    align-items: center;
}

div.map3d-titlebar > span:first-child {
    flex: 1 1 auto;
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 150%;
}

div.map3d-titlebar > span.icon-remove {
    font-size: 150%;
    margin: 0 0.5em;
}

div.map3d-map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

div.map3d-firstperson-button {
    position: absolute;
    width: 2em;
    height: 2em;
    right: 2em;
    top: 14em;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--map-button-text-color);
    background-color: var(--map-button-bg-color);
    box-shadow: 0px 5px 10px rgba(136, 136, 136, 0.5);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

div.map3d-firstperson-button-active {
    background-color: var(--map-button-text-color);
    color: var(--map-button-bg-color);
}

div#map3dinspector {
    position: fixed;
    z-index: 5;
    right: 0;
    top: 3.5em;
}

div#map3dinspector input {
    color: black!important;
}