#MapLight3D div.maplight3d-body {
    padding: 0.25em;
}

#MapLight3D div.maplight3d-body > table {
    width: 100%;
}

#MapLight3D div.maplight3d-body > table td > input {
    width: 100%;
}

#MapLight3D td.maplight3d-advanced {
    height: 2em;
}

div.map3d-animation-slider {
    display: flex;
    align-items: flex-end;
}

div.map3d-animation-slider > span.icon {
    flex: 0 0 auto;
    padding: 0.5em;
}

div.map3d-animation-slider > div.maplight3d-slider {
    padding: 0 0.25em;
    flex: 1 1 auto;
}

div.map3d-animation-slider > span.map3d-animation-settings-active {
    background-color: var(--color-active);
    color: white;
}

div.maplight3d-animation-settings {
    margin-top: -2px;
    padding-left: 0.25em;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg-color);
}

div.maplight3d-animation-settings > div.number-input {
    flex: 1 1 auto;
    border: none;
}

div.maplight3d-slider {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

div.maplight3d-slider > input[type=range] {
    margin-top: -0.25em;
    width: 100%;
    outline: none;
}

div.maplight3d-slider > input[type=time],
div.maplight3d-slider > input[type=date] {
    margin-top: -0.5em;
    font-size: 80%;
    text-align: center;
}

div.maplight3d-slider-label {
    margin-top: 0.5em;
    position: relative;
    pointer-events: none;
}

div.maplight3d-slider-label > span {
    position: absolute;
    bottom: 0;
    font-size: small;
    transform: translateX(-50%);
}
