div.map3d-nav-pan,
div.map3d-nav-rotate {
    pointer-events: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    color: var(--map-button-text-color);
    background-color: var(--map-button-bg-color);
    box-shadow: 0px 5px 10px rgba(136, 136, 136, 0.5);
    margin-bottom: 0.5em;
}

div.map3d-nav-pan > span,
div.map3d-nav-rotate > span {
    flex: 0 0 1.25em;
}

div.map3d-nav-pan > span.icon-home {
    font-size: 120%;
}

div.map3d-nav-zoom {
    pointer-events: initial;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--map-button-text-color);
    background-color: var(--map-button-bg-color);
    box-shadow: 0px 5px 10px rgba(136, 136, 136, 0.5);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    flex-direction: column;
    margin: 0 1em 0.5em 1em;
}

div.map3d-nav-zoom > span {
    height: 2em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.map3d-nav-zoom > span:first-child {
    border-bottom: 1px solid var(--map-button-text-color);
}


div.map3d-firstperson-button {
    pointer-events: initial;
    width: 2em;
    height: 2em;
    right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--map-button-text-color);
    background-color: var(--map-button-bg-color);
    box-shadow: 0px 5px 10px rgba(136, 136, 136, 0.5);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    margin: 0 1em 0.5em 1em;
}

div.map3d-firstperson-button-active {
    background-color: var(--map-button-text-color);
    color: var(--map-button-bg-color);
}

div.map3d-firstperson-button > span {
    width: 2em;
    height: 2em;
}

div.map3d-nav-spacer {
    display: inline-block;
    width: 1em;
    flex: 1 1 auto;
}