div.map3d-topbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3.5em;
    z-index: 100;
    color: var(--panel-text-color);
    background-color: var(--panel-bg-color);
    box-shadow: 0 -2px 4px rgba(136, 136, 136, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
}

div.map3d-topbar div.search-widget-container {
    margin: 0 0.75em;
    width: 25em;
}

span.map3d-topbar-spacer {
    flex: 1 1 auto;
}

div.map3d-topbar div.AppMenu {
    flex: 0 0 auto;
    color: var(--panel-text-color);
}

div.map3d-topbar div.AppMenu span.icon-menu-hamburger {
    padding: 0.25em;
    margin: 0 1em;
    border: 2px solid var(--panel-text-color);
}

div.map3d-topbar div.AppMenu.appmenu-visible {
    color: var(--app-submenu-text-color-hover);
}

div.map3d-topbar div.AppMenu.appmenu-visible span.icon-menu-hamburger {
    border: 2px solid var(--app-submenu-text-color-hover);
}

div.map3d-topbar div.AppMenu div.appmenu-menu-container {
    background-color: var(--app-menu-bg-color);
}

div.map3d-topbar div.AppMenu ul.appmenu-menu li:last-child {
    border-bottom: 1px solid var(--app-menu-text-color);
}