div.view3d-switcher-buttons > button {
    transition: right 0.25s;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

div.view3d-switcher-buttons-expanded > button:nth-child(1) {
    right: 3.5em;
}

div.view3d-switcher-buttons-expanded > button:nth-child(2) {
    right: 7em;
}
