#FullScreenSwitcher {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    width: 1.5em;
}

#FullScreenSwitcher > span {
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 0;
    border-style: solid;
}

#FullScreenSwitcher > span.maximize {
    border-width: 0 1.5em 1.5em 0;
    border-color: transparent #595959 transparent transparent;
}

#FullScreenSwitcher > span.minimize {
    border-width: 1.5em 0 0 1.5em;
    border-color: transparent transparent transparent #595959;
}
