#topbar div.MapSearchBar {
    position: static!important;
    display: inline-block;
    vertical-align: middle;
}

#topbar div.MapSearchBar > div.form-group {
    margin: 0;
}

#topbar div.MapSearchBar > div.form-group > div.input-group {
    box-shadow: none;
}

#topbar div.MapSearchBar > div.form-group > div.input-group > input.form-control {
    position: static!important;
}
