div.sidebar {
    position: absolute;
    top: 3.5em;
    bottom: 2.25em; /* bottombar is high 3em at 75% font size, hence at 100% font size it is 0.75 * 3em = 2.25em */
    z-index: 3;
    background-color: rgba(255,255, 255, 0.85);
    box-shadow: -2px 0mm 4px rgba(136, 136, 136, 0.5);
    border: 1px solid rgba(136, 136, 136, 0.5);
    transition: right 0.25s;
}

div.sidebar div.sidebar-title {
    background-color:  #808080;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    height: 2em;
    line-height: 1em;
}

div.sidebar div.sidebar-title span.glyphicon {
    float: right;
    cursor: pointer;
}
